$bg-body:#f8fffc;
$bg-verde:#345B48;
$bg-gris:#DADFE5;

$border-contenedores:10px;

$font-titulos:'Montserrat', sans-serif;
$font-contenido:'Cairo', sans-serif;

$font-size-titulos:40px;
$font-size-contenido:22px;
$font-size-nav:20px;